:root{
    --skin-color: #287bff;
}
body.dark{
    --skin-color: #000;
}

  a{
    list-style: none;
    text-decoration: none;
  }
  body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 50px;
    background: var(--skin-color);
    font-family: 'Nunito', sans-serif;
  }
h6{
    margin-top: -20px;
    margin-bottom: 20px;
}
  h6 a{
    font-size: 20px;
    margin-left: 300px;
    color: #fff;
    list-style: none;
    text-decoration: none;
    
  }
  
  input, button{
    border:none;
    outline: none;
    background: none;
  }
  
  .cont{
    margin-left: 250px;
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    background: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  
  .form{
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  
  h2{
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
  
  label{
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
  }
  
  label span{
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: uppercase;
  }
  
  input{
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: 'Nunito', sans-serif; 
  }
  
  button{
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
  
  .submit{
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background: var(--skin-color);
  }
  
  .submit:hover{
    background: -webkit-linear-gradient(left, #b224ef, #7579ff);
  }
  
  .forgot-pass{
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #0c0101;
    cursor: pointer;
  }
  
  .forgot-pass:hover a{
    color: red;
  }
  
  .social-media{
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  .social-media ul{
    list-style: none;
  }
  
  .social-media ul li{
    display: inline-block;
    cursor: pointer;
    margin: 25px 15px;
  }
  
  .social-media img{
    width: 40px;
    height: 40px;
  }
  
  .sub-cont{
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
  }
  
  .cont.s-signup .sub-cont{
    -webkit-transform:translate3d(-640px, 0, 0);
            transform:translate3d(-640px, 0, 0);
  }
  
  .img{
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
  }
  
  .img:before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url(images/bg.jpg);
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  
  .img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
  }
  
  .cont.s-signup .img:before{
    -webkit-transform:translate3d(640px, 0, 0);
            transform:translate3d(640px, 0, 0);
  }
  
  .img-text{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  
  .img-text h2{
    margin-bottom: 10px;
    font-weight: normal;
  }
  
  .img-text p{
    font-size: 14px;
    line-height: 1.5;
  }
  
  .cont.s-signup .img-text.m-up{
    -webkit-transform:translateX(520px);
            transform:translateX(520px);
  }
  
  .img-text.m-in{
    -webkit-transform:translateX(-520px);
            transform:translateX(-520px);
  }
  
  .cont.s-signup .img-text.m-in{
    -webkit-transform:translateX(0);
            transform:translateX(0);
  }
  
  
  .sign-in{
    padding-top: 65px;
    -webkit-transition-timing-function:ease-out;
            transition-timing-function:ease-out;
  }
  
  .cont.s-signup .sign-in{
    -webkit-transition-timing-function:ease-in-out;
            transition-timing-function:ease-in-out;
    -webkit-transition-duration:1.2s;
            transition-duration:1.2s; 
    -webkit-transform:translate3d(640px, 0, 0);
            transform:translate3d(640px, 0, 0);
  }
  
  .img-btn{
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 20px;
  }
  
  
  
  .img-btn span{
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack:center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition:-webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;;
  }
  
  .img-btn span.m-in{
    -webkit-transform:translateY(-72px);
            transform:translateY(-72px);
  }
  
  .cont.s-signup .img-btn span.m-in{
    -webkit-transform:translateY(0);
            transform:translateY(0);
  }
  
  .cont.s-signup .img-btn span.m-up{
    -webkit-transform:translateY(72px);
            transform:translateY(72px);
  }
  
  .sign-up{
    -webkit-transform:translate3d(-900px, 0, 0);
            transform:translate3d(-900px, 0, 0);
  }
  
  .cont.s-signup .sign-up{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }

  /* resetPassword */
  
.wrapper1{
    position: relative;
    background: #fff;
    max-width: 480px;
    width: 100%;
    padding: 25px 40px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    margin-left: 420px;
    margin-top: 0px;
  }
  .wrapper1 h1{
    margin-left: 120px;
  }
  .input-box{
    position: relative;
    height: 65px;
    margin: 25px 0;
  }
  .input-box input{
    position: relative;
    height: 100%;
    width: 90%;
    outline: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    padding: 0 40px 0 16px;
    border: 2px solid lightgrey;
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  .input-box input:focus,
  .input-box input:valid{
    border-color: #4070F4;
  }
  .input-box i{
    position: absolute;
    top: -20%;
    transform: translateY(-180%);
    color: #a6a6a6;
    transition: all 0.3s ease;
  }
  .input-box label{
    position: absolute;
    top: 60%;
    transform: translateY(-180%);
    color: #a6a6a6;
    transition: all 0.3s ease;
  }
  .input-box label{
    left: 15px;
    font-size: 18px;
    font-weight: 400;
    background: #fff;
    padding: 0 6px;
    pointer-events: none;
  }
  .input-box input:focus ~ label,
  .input-box input:valid ~ label{
    top: 0;
    font-size: 14px;
    color: #4070F4;
  }
  .input-box i{
    right: 15px;
    cursor: pointer;
    padding: 8px;
  }
  .alert{
    display: flex;
    align-items: center;
    margin-top: -13px;
  }
  .alert .error{
    color: #D93025;
    font-size: 18px;
    display: none;
    margin-right: 8px;
  }
   .text{
    font-size: 15px;
    font-weight: 400;
    color: #a6a6a6;

  }
  .button{
    width: 112%;
  }
  .input-box.button input{
    border: none;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    background: var(--skin-color);
    cursor: not-allowed;
    
  }
  .input-box.button input.active:hover{
    background: var(--skin-color);
    cursor: pointer;
  }